
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 30px;
}

a {
    text-decoration: none;
    color: black;
}

.center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

img {
    width: 95%;
    max-width: 900px;
    margin: 20px auto;
    border: 1px solid black;
}

table {
    width: 95%;
    max-width: 900px;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th, td {
    vertical-align: top;
    border: 1px solid #ddd;
    padding: 5px 20px;
}

td.footnotes {
    font-size: 0.9em;
    color: #666;
}

:target {
    background-color: #ffa;
}

nav.prev-next-buttons {
    position: fixed;
    top: 30%;
    width: 100%;
    font-size: 50px;
}

nav a {
    display: block;
    padding: 30px;
    background-color: rgba(131, 131, 131, 0.5);
    backdrop-filter: blur(2px);
}

a.prev-button {
    left: -30px;
    position: absolute;
    text-align: left;
    padding-right: 10px;
    padding-left: 16px;
    border-radius: 0 18px 18px 0;
}

a.next-button {
    right: 30px;
    position: absolute;
    text-align: right;
    padding-right: 16px;
    padding-left: 10px;
    border-radius: 18px 0 0 18px;
}

a.prev-button:after, a.next-button:after {
    content: "";
    border-right: 3px solid white;
    border-top: 3px solid white;
    height: 16px;
    width: 16px;
    display: inline-block;
}

a.next-button:after {
    transform: rotate(45deg);
}

a.prev-button:after {
    transform: rotate(-135deg);
}

a.prev-button:hover, a.next-button:hover {
    background-color: rgb(29, 29, 29);
    color: white;
}
